<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.syp.sypuser.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="cn.syp.sypuser.entity.Permissions">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
        <result column="add_time" javaType="java.sql.Timestamp" property="addTime" />
        <result column="permission_encoding" jdbcType="VARCHAR" property="permissionEncoding" />
        <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    </resultMap>

    <sql id="Base_Column_list">
        ID,PERMISSION_NAME,ADD_TIME,PERMISSION_ENCODING,IS_DELETE
    </sql>

    <select id="selectPermissionsList" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_list"/>
        from permissions
        <where>
            <if test="id != '' ">
                id = #{id}
            </if>
            <if test="permissionName != null and permissionName != ''">
                and permission_name = #{permissionName}
            </if>
            <if test="addTime != null and addTime != ''">
                and add_time = #{addTime}
            </if>
            <if test="permissionEncoding != null and permissionEncoding != ''">
                and permission_encoding = #{permissionEncoding}
            </if>
            <if test="isDelete != ''">
                and is_delete = #{isDelete}
            </if>
        </where>
    </select>

    <insert id="addPermission" parameterType="cn.syp.sypuser.entity.Role">
        insert into
        permissions(
            PERMISSION_NAME,ADD_TIME,PERMISSION_ENCODING,IS_DELETE
        )
        values(
            #{permissionName},now(),#{permissionEncoding},0
        )
    </insert>

    <update id="deletePermissionById" parameterType="cn.syp.sypuser.entity.Permissions">
        update permissions
        <set>
            is_delete = 1
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="editPermissionsInfo" parameterType="cn.syp.sypuser.entity.Permissions">
        update permissions
        <set>
            <if test="permissionName!=null and permissionName!=''">
                permission_name = #{permissionName}
            </if>
            <if test="addTime!=null">
                , add_time = #{addTime}
            </if>
            <if test="permissionEncoding!=null and permissionEncoding!=''">
                , permission_encoding = #{permissionEncoding}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!--获取角色下的权限-->
    <select id="selectRolePermissionsByRoleId" resultMap="BaseResultMap">
        select
        p.id,p.permission_name,p.add_time,p.permission_encoding
        from permissions p,role_permission rp
        <where>
            p.id = rp.permission_id
            and
            p.is_delete = 0
            and
            rp.role_id = #{roleId}
        </where>
    </select>
<!--
    <select id="selectUserByPhone" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_list"/>
        from user
        <where>
            phone_number = #{phone_number}
        </where>
    </select>

    <insert id="addUser" parameterType="cn.syp.sypuser.entity.User">
        insert into
        user(phone_number,username,password)
        values(#{phone_number},#{username},#{password})
    </insert>

    <select id="selectUserById" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_list"/>
        from user
        <where>
            id = #{id}
        </where>
    </select>

    <select id="selectUserByEmail" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_list"/>
        from user
        <where>
            e_mail = #{e_mail}
        </where>
    </select>

    <insert id="insertUserByEmail" parameterType="cn.syp.sypuser.entity.User">
        insert into
        user(id,e_mail)
        values(#{id},#{e_mail})
    </insert>

    <update id="updateUserById" parameterType="cn.syp.sypuser.entity.User">
        update user
        <set>
            password = #{password}
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="selectUserList" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_list"/>
        from user
        <where>
            <if test="id!=null and id!=''">
                id = #{id}
            </if>
            <if test="username!=null and username!=''">
                AND username = #{username}
            </if>
            <if test="password!=null and password!=''">
                AND password = #{password}
            </if>
            <if test="realName!=null and realName!=''">
                AND real_name = #{realName}
            </if>
            <if test="phoneNumber!=null and phoneNumber!=''">
                AND phone_number = #{phoneNumber}
            </if>
            &lt;!&ndash; <if test="age!=null and age!='' or age==0">
                 AND age = #{age}
             </if>&ndash;&gt;
            <if test="birthDate!=null and birthDate!=''">
                AND birth_date = #{birthDate}
            </if>
            &lt;!&ndash;  <if test="sex!=null and sex!='' or sex==0">
                  AND sex = #{sex}
              </if>&ndash;&gt;
            <if test="headImg!=null and headImg!=''">
                AND head_img = #{headImg}
            </if>
            <if test="description!=null and description!=''">
                AND description = #{description}
            </if>
            <if test="isDelete!=null and isDelete!='' or isDelete==0">
                AND is_delete = #{isDelete}
            </if>
            &lt;!&ndash;<if test="status!=null and status!='' or status==0">
                AND status = #{status}
            </if>&ndash;&gt;
            <if test="eMail!=null and eMail!=''">
                AND e_mail = #{eMail}
            </if>

        </where>
        order by id asc
    </select>

    <update id="deleteUserById" parameterType="cn.syp.sypuser.entity.User">
        update user
        <set>
            is_delete = 1
        </set>
        <where>
            id = #{id}
        </where>
    </update>


    <update id="updateUserParamsById" parameterType="cn.syp.sypuser.entity.User">
        update user
        <set>
            <if test="username!=null and username!=''">
                username = #{username}
            </if>
            <if test="password!=null and password!=''">
                , password = #{password}
            </if>
            <if test="realName!=null and realName!=''">
                , real_name = #{realName}
            </if>
            <if test="phoneNumber!=null and phoneNumber!=''">
                , phone_number = #{phoneNumber}
            </if>
            <if test="age!=null and age!=''">
                , age = #{age}
            </if>
            <if test="birthDate!=null">
                , birth_date = #{birthDate}
            </if>
            <if test="sex!=null and sex!=''">
                , sex = #{sex}
            </if>
            <if test="headImg!=null and headImg!=''">
                , head_img = #{headImg}
            </if>
            <if test="description!=null and description!=''">
                , description = #{description}
            </if>
            &lt;!&ndash;<if test="isDelete!=null and isDelete!=''  ">
                AND is_delete = #{isDelete}
            </if>&ndash;&gt;
            <if test="status!=null and status!=''">
                , status = #{status}
            </if>
            <if test="eMail!=null and eMail!=''">
                , e_mail = #{eMail}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>-->


</mapper>
